body {
    color: rgb(148, 54, 3);
    background-color: rgb(231, 216, 194);
}

#intro {
    text-align: center;
}

.intropara {
    font-size: large;
}

#myForm {
    font-size: large;
}

.copyright {
    text-align: center;
}
h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 250%;
    background-color: rgb(243, 193, 132);
    color: rgb(165, 6, 6);
}
